.container{
    margin-left: 10px;
}

.title {
    color: red;
    font-weight: bold;
}

.button {
    height: 50px;
    width: 150px;
    background: green;
    margin-top: 10px;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}